@charset "UTF-8";
/* https://www.iconfinder.com/search?q=laptop&price=free */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

/* 040404 - 272932 - 73E161 - FAF6F6 */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

header , nav {
  background-color: rgb(4, 4, 4);
  min-height: 8vh;
  min-width: 360px;
}

header , #greeting {
  color: rgb(250, 246, 246);
}

nav ul li a {
  background-color: rgb(250, 246, 246);
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px 0;
}

header , nav , #greeting {
  display: flex;
  align-items: center;
  justify-content: center;
}

header , #greeting {
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px  rgb(115, 225, 97);
  z-index: 3;
}

.nav-bar li {
  display: inline-block;
  border-radius: 6px;
  font-weight: 600;
}

#greeting {
  min-height: 84vh;
  background-color: rgb(39, 41, 50);
  font-size: 2em;
}

.photo-and-about {
  min-height: 100vh;
  text-align: center;
  background-color: rgb(4, 4, 4);
}

.photo-and-about a , .photo-and-about {
  color: rgb(250, 246, 246);
}

.photo-and-about img {
  width: 200px;
  padding: 100px 0 0 0;
}

.photo-and-about p {
  max-width: 60%;
  text-align: justify;
}

#my-skills {
  min-height: 100vh;
  background-color: rgb(34, 36, 43);
}

#title-my-skills {
  padding-top: 100px;
  text-align: center;
  color: rgb(250, 246, 246);
  font-size: 1.5em;
}

.margin-50-auto {
  margin: 50px auto;
}

#list-skills {
  width: 300px;
  text-align: center;
}

#list-skills li {
  display: inline-block;
  width: fit-content;
  padding: 15px;
}

#list-skills li:nth-child(1) {
  content: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain-wordmark.svg);
  width: 100px;
}

#list-skills li:nth-child(2) {
  content: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg);
  width: 100px;
}

#list-skills li:nth-child(3) {
  content: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg);
  width: 100px;
}

#list-skills li:nth-child(4) {
  content: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg);
  width: 100px;
}

/* refatorando */

#container {
    max-width: 900px;
    background-color: #FAF6F6;
    margin: auto;
    box-shadow: 5px 10px 8px 10px #73E161;
    border-radius: 10px;
}

.nav-bar li, #list-skills li, #contacts li {
    list-style: none;
}

.social-media {
    display: flex;
    justify-content: center;
}

/* .nav-bar li:hover {
    background-color: #FAF6F6;
    color: #040404;
} */

#about-me a {
   text-decoration: none;
   font-weight: 600;
    /* color: #040404; */
}

#about-me a:hover {
  background-color: #73E161;
}

#contacts {
    text-align: center;
}

.social-media a li {
    width: fit-content;
}

.social-media a:nth-child(1) li{
    background: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg) no-repeat;
}


.social-media a:nth-child(2) li{
    background: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg) no-repeat;
}

.social-media a:nth-child(3) li {
    background: url(instagram.svg) no-repeat;
}

.social-media a:nth-child(4) li {
    background: url(gmail.svg) no-repeat;
} 

.social-media a:nth-child(1) li:hover {
    background-color: #FAF6F6;
    border-radius: 50%;
}

 
.social-media a:nth-child(2) li:hover {
    background-color: #FAF6F6;
    border-radius: 2px;
}

.social-media a:nth-child(3) li:hover {
    background-color: #FAF6F6;
    border-radius: 50%;
}

.social-media a:nth-child(4) li:hover {
    background-color: #22242b;
} 